In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
s = pd.Series([1,2,3,4,5,np.nan,7,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [15]:
d = pd.date_range('20200301',periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df1 = pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])
df1

                   A         B         C         D
2020-03-01 -2.642962  1.864793  1.491241  1.683158
2020-03-02 -1.402368 -1.188020 -1.021210  0.248537
2020-03-03 -0.373757 -0.325801 -1.151751 -0.361378
2020-03-04 -1.536704 -0.269120 -0.772725 -0.337316
2020-03-05  1.340533 -0.212406 -0.074269 -0.789641
2020-03-06 -0.085743 -0.283170  0.732734  1.707061
2020-03-07 -1.017677  1.399813 -2.359398 -0.061729
2020-03-08 -0.424719  0.160275  0.447229 -0.258555
2020-03-09  1.272142  1.537321 -0.846445 -0.261065
2020-03-10 -0.159913 -1.291890 -0.309001  1.617295

In [22]:
#Viewing of the dataframe
df1.head()

                   A         B         C         D
2020-03-01 -2.642962  1.864793  1.491241  1.683158
2020-03-02 -1.402368 -1.188020 -1.021210  0.248537
2020-03-03 -0.373757 -0.325801 -1.151751 -0.361378
2020-03-04 -1.536704 -0.269120 -0.772725 -0.337316
2020-03-05  1.340533 -0.212406 -0.074269 -0.789641

In [24]:
df1.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [27]:
df1.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.503117   0.139179  -0.386360   0.318637
std     1.228645   1.106371   1.096393   0.967007
min    -2.642962  -1.291890  -2.359398  -0.789641
25%    -1.306195  -0.315143  -0.977518  -0.318253
50%    -0.399238  -0.240763  -0.540863  -0.160142
75%    -0.104286   1.089928   0.316855   1.275105
max     1.340533   1.864793   1.491241   1.707061

In [29]:
df1.sort_index(axis=1, ascending=False)
#axis1 means sort the columns in descending other

                   D         C         B         A
2020-03-01  1.683158  1.491241  1.864793 -2.642962
2020-03-02  0.248537 -1.021210 -1.188020 -1.402368
2020-03-03 -0.361378 -1.151751 -0.325801 -0.373757
2020-03-04 -0.337316 -0.772725 -0.269120 -1.536704
2020-03-05 -0.789641 -0.074269 -0.212406  1.340533
2020-03-06  1.707061  0.732734 -0.283170 -0.085743
2020-03-07 -0.061729 -2.359398  1.399813 -1.017677
2020-03-08 -0.258555  0.447229  0.160275 -0.424719
2020-03-09 -0.261065 -0.846445  1.537321  1.272142
2020-03-10  1.617295 -0.309001 -1.291890 -0.159913

In [30]:
df1.sort_values(by='C')

                   A         B         C         D
2020-03-07 -1.017677  1.399813 -2.359398 -0.061729
2020-03-03 -0.373757 -0.325801 -1.151751 -0.361378
2020-03-02 -1.402368 -1.188020 -1.021210  0.248537
2020-03-09  1.272142  1.537321 -0.846445 -0.261065
2020-03-04 -1.536704 -0.269120 -0.772725 -0.337316
2020-03-10 -0.159913 -1.291890 -0.309001  1.617295
2020-03-05  1.340533 -0.212406 -0.074269 -0.789641
2020-03-08 -0.424719  0.160275  0.447229 -0.258555
2020-03-06 -0.085743 -0.283170  0.732734  1.707061
2020-03-01 -2.642962  1.864793  1.491241  1.683158

In [34]:
#A single column
df1['C']

2020-03-01    1.491241
2020-03-02   -1.021210
2020-03-03   -1.151751
2020-03-04   -0.772725
2020-03-05   -0.074269
2020-03-06    0.732734
2020-03-07   -2.359398
2020-03-08    0.447229
2020-03-09   -0.846445
2020-03-10   -0.309001
Freq: D, Name: C, dtype: float64

In [35]:
#Slcing
df1[0:3]

                   A         B         C         D
2020-03-01 -2.642962  1.864793  1.491241  1.683158
2020-03-02 -1.402368 -1.188020 -1.021210  0.248537
2020-03-03 -0.373757 -0.325801 -1.151751 -0.361378

In [36]:
#Selecting using labels
# note use location 'loc'
df1.loc[d[0]]

A   -2.642962
B    1.864793
C    1.491241
D    1.683158
Name: 2020-03-01 00:00:00, dtype: float64

In [37]:
#Selecting data on a multiple axes by labels
df1.loc[:,['A','C']]

                   A         C
2020-03-01 -2.642962  1.491241
2020-03-02 -1.402368 -1.021210
2020-03-03 -0.373757 -1.151751
2020-03-04 -1.536704 -0.772725
2020-03-05  1.340533 -0.074269
2020-03-06 -0.085743  0.732734
2020-03-07 -1.017677 -2.359398
2020-03-08 -0.424719  0.447229
2020-03-09  1.272142 -0.846445
2020-03-10 -0.159913 -0.309001

In [18]:
df2 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20200301'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([5]*4,dtype='int32'),
                   'E':pd.Categorical(['True','False','True','False']),
                   'F':'Tutorial'})

# df = pd.DataFrame({
#     'A': [1, 2, 3, 4],
#     'B': ['20200301'] * 4,
#     'C': [1.0] * 4,
#     'D': [5] * 4,
#     'E': [True, False, True, False],
#     'F': ['Tutorial'] * 4
# })
df2

   A          B    C  D      E         F
0  1 2020-03-01  1.0  5   True  Tutorial
1  2 2020-03-01  1.0  5  False  Tutorial
2  3 2020-03-01  1.0  5   True  Tutorial
3  4 2020-03-01  1.0  5  False  Tutorial

In [19]:
df2.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [20]:


# Create a sample dataframe using a dictionary
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'Country': ['USA', 'UK', 'Australia', 'Germany']}
df3 = pd.DataFrame(data, 
                  # The index parameter specifies the row labels of the dataframe
                  # By default, pandas will create a numerical index starting from 0
                  # However, you can pass a custom index or a column name to use as the index
                  index=['Person1', 'Person2', 'Person3', 'Person4'])
               

df3

          Name  Age    Country
Person1   John   28        USA
Person2   Anna   24         UK
Person3  Peter   35  Australia
Person4  Linda   32    Germany

In [21]:
df3.dtypes

Name       object
Age         int64
Country    object
dtype: object