In [2]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,2,3,4,5,np.nan,7,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [6]:
d = pd.date_range('20200301',periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])
df

                   A         B         C         D
2020-03-01 -1.241232  0.662128  1.280366 -1.484341
2020-03-02 -0.873102 -0.171707  0.864591 -1.864223
2020-03-03  0.339742  0.726643  0.531895  1.225546
2020-03-04  0.504866  0.424978  0.565072  0.433239
2020-03-05  0.230069 -0.866636 -0.430525 -0.440346
2020-03-06  1.020188 -1.499805 -0.003736 -0.309201
2020-03-07  0.974307 -0.229419 -0.002034  0.223501
2020-03-08 -1.349132  0.964871 -0.943237  0.084359
2020-03-09  0.133674  0.127977 -0.749583 -0.185838
2020-03-10  1.504004  0.588657 -0.806571 -0.137106