In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
data = pd.read_csv('fuel_consumption.csv')
data

,model_year,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb,fuel_consumption_comb_mpg,co2_emissions
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [3]:
data.tail

<bound method NDFrame.tail of       model_year   make       model   vehicle_class  engine_size  cylinders  \
0           2014  ACURA         ILX         COMPACT          2.0          4
1           2014  ACURA         ILX         COMPACT          2.4          4
2           2014  ACURA  ILX HYBRID         COMPACT          1.5          4
3           2014  ACURA     MDX 4WD     SUV - SMALL          3.5          6
4           2014  ACURA     RDX AWD     SUV - SMALL          3.5          6
...          ...    ...         ...             ...          ...        ...
1062        2014  VOLVO    XC60 AWD     SUV - SMALL          3.0          6
1063        2014  VOLVO    XC60 AWD     SUV - SMALL          3.2          6
1064        2014  VOLVO    XC70 AWD     SUV - SMALL          3.0          6
1065        2014  VOLVO    XC70 AWD     SUV - SMALL          3.2          6
1066        2014  VOLVO    XC90 AWD  SUV - STANDARD          3.2          6

     transmission fuel_type  fuel_consumption_city  fuel_consumption_hwy  \
0             AS5         Z                    9.9                   6.7
1              M6         Z                   11.2                   7.7
2             AV7         Z                    6.0                   5.8
3             AS6         Z                   12.7                   9.1
4             AS6         Z                   12.1                   8.7
...           ...       ...                    ...                   ...
1062          AS6         X                   13.4                   9.8
1063          AS6         X                   13.2                   9.5
1064          AS6         X                   13.4                   9.8
1065          AS6         X                   12.9                   9.3
1066          AS6         X                   14.9                  10.2

      fuel_consumption_comb  fuel_consumption_comb_mpg  co2_emissions
0                       8.5                         33            196
1                       9.6                         29            221
2                       5.9                         48            136
3                      11.1                         25            255
4                      10.6                         27            244
...                     ...                        ...            ...
1062                   11.8                         24            271
1063                   11.5                         25            264
1064                   11.8                         24            271
1065                   11.3                         25            260
1066                   12.8                         22            294

[1067 rows x 13 columns]>

In [8]:
data.describe()

,model_year,engine_size,cylinders,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb,fuel_consumption_comb_mpg,co2_emissions
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   model_year                 1067 non-null   int64
 1   make                       1067 non-null   object
 2   model                      1067 non-null   object
 3   vehicle_class              1067 non-null   object
 4   engine_size                1067 non-null   float64
 5   cylinders                  1067 non-null   int64
 6   transmission               1067 non-null   object
 7   fuel_type                  1067 non-null   object
 8   fuel_consumption_city      1067 non-null   float64
 9   fuel_consumption_hwy       1067 non-null   float64
 10  fuel_consumption_comb      1067 non-null   float64
 11  fuel_consumption_comb_mpg  1067 non-null   int64
 12  co2_emissions              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [6]:
data.columns

Index(['model_year', 'make', 'model', 'vehicle_class', 'engine_size',
       'cylinders', 'transmission', 'fuel_type', 'fuel_consumption_city',
       'fuel_consumption_hwy', 'fuel_consumption_comb',
       'fuel_consumption_comb_mpg', 'co2_emissions'],
      dtype='object')

In [7]:
data.isnull().sum()

model_year                   0
make                         0
model                        0
vehicle_class                0
engine_size                  0
cylinders                    0
transmission                 0
fuel_type                    0
fuel_consumption_city        0
fuel_consumption_hwy         0
fuel_consumption_comb        0
fuel_consumption_comb_mpg    0
co2_emissions                0
dtype: int64

In [1]:
from scipy import stats